@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700;900&family=Open+Sans:wght@400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f2f2f2;
  font-family: 'Open Sans', sans-serif;
}

main {
  display: block;
  max-width: 1000px;
  width: 60%;
  margin: 1em auto;
  min-height: 70vh;
}

h1 {
  text-align: center;
  font-size: 4rem;
  font-weight: bold;
  line-height: 4.5rem;
  border-bottom: 3px solid #0000001c;
  padding-bottom: 1rem;
}

h1>span:nth-child(1) {
  font-weight: bold;
}

h1>span:nth-child(2) {
  font-family: 'Montserrat', sans-serif;
  display: block;
  font-weight: 900;
  color: slateblue;
  transform-origin: top center;
  animation: swing 1s ease-in-out 2s;
}

input,
label {
  display: block;
}

label {
  margin-top: 1em;
  font-size: 1.3rem;
  color: rgba(0, 0, 0, 0.637);
}

input {
  margin-top: .5rem;
  width: 100%;
  border-radius: 5px;
  outline: none;
  border: 1px solid black;
  padding: 1rem;
  font-size: 1.5rem;
}

.no-results,
.loading {
  margin-top: 2rem;
  display: block;
  text-align: center;
  min-height: 7rem;
  display: flex;
  justify-content: center;
  font-size: 2rem;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
}

main>.loading {
  animation: fadeIn .5s linear infinite alternate;
  color: slateblue;
}

.pokemon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  text-align: center;
  border-radius: 5px;
  width: fit-content;
  overflow: hidden;
  position: relative;
  padding: 1em 2em;
  margin: 1rem auto;
  animation: fadeInUp .3s ease-in;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}

.pokemon>h3 {
  font-size: 2rem;
}

.pokemon>img {
  height: 200px;
  width: 200px;
  vertical-align: top;
  object-fit: cover;
}

.pokemon::before {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-color: rgba(0, 0, 0, 0.151);
  position: absolute;
  right: -200px;
  top: 0;
  z-index: -1;
}

@keyframes swing {
  20% {
    transform: rotate3d(0, 0, 1, 15deg);
  }

  40% {
    transform: rotate3d(0, 0, 1, -10deg);
  }

  60% {
    transform: rotate3d(0, 0, 1, 5deg);
  }

  80% {
    transform: rotate3d(0, 0, 1, -5deg);
  }

  to {
    transform: rotate3d(0, 0, 1, 0deg);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@media screen and (max-width: 600px) {

  h1 {
    font-size: 3rem;
    line-height: normal;
  }

  main {
    display: block;
    max-width: 1000px;
    width: 95%;
    margin: 1em auto;
    min-height: 70vh;
  }

  .pokemon {
    width: 100%;
    flex-direction: column;
    border: 1px solid black;
    gap: 0;
  }

.pokemon::before {
  right: 0;
  left: auto;
  top: auto;
  bottom: -150px;
}
}